PLAT=Raspbian
OSCN=buster
USING_UFW=1
IPv4dev={{ pivpn_ipv4_dev }}
dhcpReserv=1
IPv4addr={{ pivpn_ipv4_address }}/{{ pivpn_ipv4_cidr_mask }}
IPv4gw={{ pivpn_ipv4_gw }}
install_user=pi
install_home=/home/pi
VPN=wireguard
pivpnPORT={{ wg_listen_port }}
pivpnDNS1={{ wg_client_dns1 }}
pivpnDNS2={{ wg_client_dns2 }}
pivpnHOST={{ wg_ddns_hostname }}
pivpnPROTO=udp
pivpnDEV={{ wg_vpn_dev }}
pivpnNET={{ wg_net_addr }}
subnetClass={{ wg_net_cidr_mask }}
ALLOWED_IPS="0.0.0.0/0, ::0/0"
UNATTUPG=1
INSTALLED_PACKAGES=(git dnsutils raspberrypi-kernel-headers wireguard-tools wireguard-dkms qrencode unattended-upgrades)
